/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------------------
CUSTOM
-----------------------
*/
html,
body {
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  letter-spacing: -0.04em;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

p {
  line-height: 1.8;
  font-size: 1em;
  margin: 0.2em 0;
}

ul {
  list-style: circle;
}

ul li {
  line-height: 1.8;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s all ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #414141;
  transition: 0.2s all ease-in-out;
}

strong,
b {
  font-weight: 700;
}

section {
  margin: 150px 0;
}

/*
-----------------------
CLASSES
-----------------------
*/
div.content {
  width: 1100px;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  div.content {
    width: 80%;
  }
}

div.list {
  background: #cce2ea;
  padding: 35px 40px;
  border-radius: 2px;
  border: solid #1aa9cd 2px;
  margin: 30px 0;
}

.shadow {
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}

.center {
  text-align: center;
}

.fullheight {
  height: 100vh;
}

.fullwidth {
  width: 100%;
}

.dab:hover {
  color: red;
  background: url("./../imgs/dab.png");
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
}

/*
-----------------------
FLEX
-----------------------
*/
.flex {
  display: flex;
}

.flex.horizontal-center {
  justify-content: center;
}

.flex.vertical-center {
  align-items: center;
  align-content: center;
}

.text.right {
  text-align: right;
}

.text.left {
  text-align: left;
}

.text.center {
  text-align: center;
}

/*
-----------------------
NAV
-----------------------
*/
nav {
  transform: translateY(-100%);
  position: fixed;
  z-index: 10;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s all ease-in-out;
  color: #fff;
}

nav #closebtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

nav ul {
  cursor: pointer;
  list-style: none;
}

nav ul li a:hover {
  color: #b9b9b9;
}

/*
-----------------------
HEADER
-----------------------
*/
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
}

header .top {
  box-sizing: border-box;
  padding: 35px 50px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

header .top .logo {
  height: 40px;
}

header .top #openbtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 5px;
}

header .text {
  padding-top: 32vh;
}

header .text h1 {
  font-weight: 600;
  font-size: 220px;
  color: #aaa;
  transition: ease-in-out 0.1s all;
  /*
        background: -webkit-linear-gradient(right, #ecd95b, #ef5f52);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        */
}

header .text h1:hover {
  color: #bbb;
}

@media only screen and (max-width: 1100px) {
  header .text h1 {
    font-size: 190px;
  }
}

@media only screen and (max-width: 870px) {
  header .text h1 {
    font-size: 140px;
  }
}

@media only screen and (max-width: 600px) {
  header .text h1 {
    font-size: 90px;
  }
}

@media only screen and (max-width: 420px) {
  header .text h1 {
    font-size: 70px;
  }
}

header .text p {
  font-size: 48px;
  line-height: 1.4;
  font-weight: 400;
  margin: 1.8rem 0;
}

header .text p:first-of-type {
  margin-top: 0.4rem;
}

@media only screen and (max-width: 1100px) {
  header .text p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  header .text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  header .text p {
    font-size: 25px;
  }
}

/*
-----------------------
PORTFOLIO
-----------------------
*/
section#port .row {
  flex-wrap: wrap;
}

section#port .row .item {
  flex: 1;
  flex-basis: 500px;
  height: 40vh;
}

section#port .row .item .img,
section#port .row .item .text {
  width: 50%;
  height: 100%;
}

section#port .row .item .img {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  filter: grayscale(1);
}

section#port .row .item .img:hover {
  filter: grayscale(0);
}

section#port .row .item .text {
  box-sizing: border-box;
  padding: 35px;
  justify-content: space-between;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  section#port .row .item .text {
    padding: 20px;
  }
}

section#port .row .item .text h2 {
  font-size: 1.7em;
  width: 100%;
}

section#port .row .item .text a {
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
}

section#port .row .item.dark {
  background-color: #111;
  color: #fff;
}

section#port .row .item.light {
  background-color: #fff;
  color: #111;
}

/*
-----------------------
CONTACT
-----------------------
*/
section#contact .content {
  max-width: 800px;
  text-align: center;
}

section#contact .content h2 {
  font-size: 2.5em;
  font-weight: 600;
}

section#contact .content p {
  margin: 15px auto;
}

section#contact .content form {
  margin: 25px 0;
}

section#contact .content form input[type='text'],
section#contact .content form input[type='email'] {
  -webkit-appearance: none;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  margin-bottom: 15px;
  display: block;
  font-size: 0.7em;
  background-color: whitesmoke;
  padding: 13px 20px;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid whitesmoke;
  transition: ease-in-out 0.2s all;
}

section#contact .content form input[type='text']:focus,
section#contact .content form input[type='email']:focus {
  border: 3px solid #e6e6e6;
}

section#contact .content form input[type='text']:invalid,
section#contact .content form input[type='email']:invalid {
  border: 3px solid whitesmoke;
  outline: none;
  box-shadow: none;
}

section#contact .content form textarea {
  -webkit-appearance: none;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  margin-bottom: 15px;
  background-color: whitesmoke;
  resize: vertical;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  font-size: 0.7em;
  font-family: 'Roboto Mono', sans-serif;
  padding: 15px 20px;
  width: 100%;
  min-height: 100px;
  border: 3px solid whitesmoke;
}

section#contact .content form textarea:focus {
  border: 3px solid #e6e6e6;
  transition: ease-in-out 0.2s all;
}

section#contact .content form button {
  margin-bottom: 15px;
  display: inline;
  font-family: 'Roboto Mono', sans-serif;
  margin: 10px;
  border: none;
  text-decoration: none;
  background: initial;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

section#contact .content form .flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

section#contact .content form .flex input {
  flex-basis: 250px;
  flex: 1;
  margin-right: 15px;
}

section#contact .content form .flex input:last-of-type {
  margin-right: 0;
}

/*
-----------------------
FOOTER
-----------------------
*/
footer {
  margin: 80px 0;
}

footer .flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .flex ul {
  list-style: none;
  flex-basis: 315px;
}

footer .flex ul li {
  display: inline;
}

footer .flex ul li::after {
  content: '-';
}

footer .flex ul li:last-of-type::after {
  content: '';
}

footer .flex ul li a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04rem;
}

footer hr {
  border: #111 2px solid;
}
/*# sourceMappingURL=style.css.map */