/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
main#page #render .title,
h2,
main#page #render .sub-title,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
main#page #render span.bold,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------------------
CUSTOM
-----------------------
*/
html,
body {
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  letter-spacing: -0.04em;
}


h1,
main#page #render .title,
h2,
main#page #render .sub-title,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 0.4em;
  font-weight: 600;
}


h1,
main#page #render .title {
  font-size: 3rem;
}


h2,
main#page #render .sub-title {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}


h2,
main#page #render .sub-title,
h3 {
  margin-top: 2rem;
}

p {
  line-height: 1.7;
  font-size: 1em;
  margin: 0.6em 0;
}

ul {
  list-style: circle;
}

ul li {
  line-height: 1.8;
  font-size: 1em;
}

a {
  text-decoration: none;
  border-bottom: 0.2em solid black;
  color: inherit;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  font-weight: 500;
}

a:hover {
  color: #414141;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

strong,
b,
main#page #render span.bold {
  font-weight: 700;
}

section {
  padding: 75px 0;
}

::-moz-selection {
  background: whitesmoke;
  /* WebKit/Blink Browsers */
}

::selection {
  background: whitesmoke;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: whitesmoke;
  /* Gecko Browsers */
}

/*
-----------------------
CLASSES
-----------------------
*/
.content {
  max-width: 1100px;
  margin: auto;
  width: 80%;
}

div.list {
  background: #cce2ea;
  padding: 35px 40px;
  border-radius: 2px;
  border: solid #1aa9cd 2px;
  margin: 30px 0;
}

.shadow {
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}

.center {
  text-align: center;
}

.fullheight {
  height: 100vh;
}

.fullwidth {
  width: 100%;
}

/*
-----------------------
FLEX
-----------------------
*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.text.right {
  text-align: right;
}

.text.left {
  text-align: left;
}

.text.center {
  text-align: center;
}

/*
-----------------------
NAV
-----------------------
*/
nav {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: fixed;
  z-index: 10;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  color: #fff;
}

nav #closebtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 70px;
}

nav ul {
  cursor: pointer;
  list-style: none;
}

nav ul li a {
  border: none;
}

nav ul li a:hover {
  color: #b9b9b9;
}

/*
-----------------------
NAVBAR
-----------------------
*/
aside#navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 35px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  aside#navbar {
    background: #fff;
  }
}

aside#navbar .logo {
  height: 40px;
}

aside#navbar a {
  border: none;
}

aside#navbar img#openbtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 5px;
}

/*
-----------------------
HEADER
-----------------------
*/
header#about {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  padding-bottom: 75px;
}

header#about .text {
  padding-top: 32vh;
}

header#about .text h1, header#about .text main#page #render .title, main#page #render header#about .text .title {
  line-height: 1;
  margin-bottom: 0em;
  font-size: 220px;
  color: #aaa;
  -webkit-transition: ease-in-out 0.1s all;
  transition: ease-in-out 0.1s all;
  background: -webkit-linear-gradient(right, #ecd95b, #ef5f52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1100px) {
  header#about .text h1, header#about .text main#page #render .title, main#page #render header#about .text .title {
    font-size: 190px;
  }
}

@media only screen and (max-width: 870px) {
  header#about .text h1, header#about .text main#page #render .title, main#page #render header#about .text .title {
    font-size: 140px;
  }
}

@media only screen and (max-width: 600px) {
  header#about .text h1, header#about .text main#page #render .title, main#page #render header#about .text .title {
    font-size: 90px;
  }
}

@media only screen and (max-width: 420px) {
  header#about .text h1, header#about .text main#page #render .title, main#page #render header#about .text .title {
    font-size: 70px;
  }
}

header#about .text p {
  font-size: 48px;
  line-height: 1.4;
  font-weight: 400;
  margin: 1.8rem 0;
}

header#about .text p:first-of-type {
  margin-top: 0.4rem;
}

header#about .text p a {
  font-weight: 700;
  border-bottom: 0.1em solid #111;
}

@media only screen and (max-width: 1100px) {
  header#about .text p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  header#about .text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  header#about .text p {
    font-size: 25px;
  }
}

/*
-----------------------
PORTFOLIO
-----------------------
*/
section#port .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#port .row .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  height: 70vh;
  max-height: 350px;
}

@media only screen and (max-width: 600px) {
  section#port .row .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#port .row .item .img,
  section#port .row .item .text {
    width: 100% !important;
  }
}

@media only screen and (max-width: 350px) {
  section#port .row .item {
    max-height: 50vh;
  }
  section#port .row .item .text {
    display: none;
  }
}

section#port .row .item .img,
section#port .row .item .text {
  width: 50%;
  height: 100%;
}

section#port .row .item .img {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

section#port .row .item .img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#port .row .item .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 600px) {
  section#port .row .item .text {
    padding: 20px;
  }
}

section#port .row .item .text h2, section#port .row .item .text main#page #render .sub-title, main#page #render section#port .row .item .text .sub-title {
  width: 100%;
  margin: 0;
}

section#port .row .item .text a {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
}

section#port .row .item.dark {
  background-color: #111;
  color: #fff;
}

section#port .row .item.light {
  background-color: #fff;
  color: #111;
}

/*
-----------------------
CONTACT
-----------------------
*/
section#contact .content {
  max-width: 800px;
}

section#contact .content h2, section#contact .content main#page #render .sub-title, main#page #render section#contact .content .sub-title {
  font-size: 2.5rem;
}

section#contact .content p {
  max-width: 700px;
}

section#contact .content form {
  margin: 40px 0;
  text-align: left;
}

section#contact .content form input[type='text'],
section#contact .content form input[type='email'] {
  font-size: 0.7rem;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-appearance: none;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
  display: block;
  font-size: 0.7em;
  background-color: whitesmoke;
  padding: 13px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 3px solid whitesmoke;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  border-radius: 2px;
}

section#contact .content form input[type='text']:invalid,
section#contact .content form input[type='email']:invalid {
  border: 3px solid whitesmoke;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#contact .content form input[type='checkbox'] {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#contact .content form input[type='checkbox']:invalid {
  border: 3px solid whitesmoke;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#contact .content form input[type='checkbox'] + label {
  font-size: 0.8rem;
}

section#contact .content form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  color: #717171;
  margin-bottom: 15px;
  display: block;
  background-color: whitesmoke;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid whitesmoke;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.3px;
  font-weight: 300;
  padding: 13px 20px;
  width: 100%;
  background-image: url(../imgs/select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
}

section#contact .content form select::-ms-expand {
  display: none;
}

section#contact .content form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

section#contact .content form select option {
  background: whitesmoke;
}

section#contact .content form .lt-ie10 select {
  background-image: none;
}

section#contact .content form textarea {
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
  background-color: whitesmoke;
  resize: vertical;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.7em;
  font-family: 'Roboto Mono', sans-serif;
  padding: 15px 20px;
  width: 100%;
  min-height: 100px;
  border: 3px solid whitesmoke;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

section#contact .content form .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#contact .content form .flex input,
section#contact .content form .flex select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}

section#contact .content form .flex input:last-child,
section#contact .content form .flex select:last-child {
  margin-right: 0;
}

section#contact .content form .flex select {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

section#contact .content form .flex input {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

button {
  text-transform: uppercase;
  display: inline;
  font-family: 'Roboto Mono', sans-serif;
  border: none;
  text-decoration: none;
  background: initial;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  border-bottom: 3px solid #111;
}

/*
-----------------------
FOOTER
-----------------------
*/
footer {
  padding: 50px 0;
}

footer .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 550px) {
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .flex ul {
  list-style: none;
}

footer .flex ul.icons {
  text-align: right;
}

footer .flex ul li {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04rem;
}

footer .flex ul li .icon {
  height: 18px;
  margin-left: 8px;
}

footer .flex ul li span {
  display: inline;
}

footer .flex ul.legal li::after {
  content: '-';
}

footer .flex ul.legal li:last-of-type::after {
  content: '';
}

footer .flex ul.legal li:first-of-type::after {
  content: '|';
}

footer .flex ul.icons a {
  border: none;
}

footer hr {
  border: #111 2px solid;
}

/*
-----------------------
MEGA OP MULTILANGUAGE THING
(works like 4%)
-----------------------
*/
/*
body:lang(de) {
  [lang-de] {
    font-size: 0px;
    &:after {
      content: attr(lang-de);
    }
  }
}
*/
/*
-----------------------
JUST A PAGE
-----------------------
*/
main#page {
  padding-top: 18vh;
}

main#page h1, main#page #render .title {
  margin: 0;
}

main#page ul {
  list-style: disc;
  list-style-position: outside;
  margin-left: 2rem;
}

main#page #render {
  line-height: 1.6;
}

main#page #render .caption {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  color: #aaaaaa;
  margin-bottom: 0.2rem;
  letter-spacing: 0.3px;
}

main#page #render div.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem -12px !important;
}

main#page #render div.collection div.col_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
  margin: 12px;
}

main#page #render div.collection div.col_img img {
  width: 100%;
}

main#page #render img.image {
  width: 100%;
  margin: 3rem 0 0 0;
}

/*
-----------------------
COOKIE THING
-----------------------
*/
#acceptCookies {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  background-color: whitesmoke;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #111;
  padding: 1.5rem;
  width: 80%;
  max-width: 500px;
  text-align: right;
}

#acceptCookies h3 {
  margin: 0;
}

#acceptCookies p {
  font-size: 0.85rem;
  line-height: 1.4;
}

#acceptCookies a {
  border: none;
}

#acceptCookies button {
  color: #111;
  font-size: 0.9rem;
  border-bottom-color: #111;
}
/*# sourceMappingURL=style.css.map */